<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1, maximum-scale=1.0, user-scalable=no"">
    <title>BETNET</title>
    <link rel="stylesheet" href="main.css">
  </head>
  <body>
    <% include ../partials/header %>
    <div class="app-content vertical-container">
      <div class="content-row">
        <form action="/register" method="post" encType="multipart/form-data">

          <input type="text" name="user_name" placeholder="User Name"/>

          <input type="text" name="first_name" placeholder="First Name"/>

          <input type="text" name="last_name" placeholder="Last Name" />

          <input type="text" name="email" placeholder="Email" />

          <input type="password" name="password" placeholder="Password" />
          
          <select name="country">
            <option value="" disabled selected>Select your Country</option>
            <% for(var i=0; i<countries.length; i++) {%>
             <option value=<%= countries[i].code %> ><%= countries[i].name %></li>
            <% } %>
          </select>

          <select name="currency">
            <option value="" disabled selected>Select your Currency</option>
            <% for(var i=0; i<currencies.length; i++) {%>
             <option value=<%= currencies[i].name %> ><%= currencies[i].name %></li>
            <% } %>
          </select>

          <input type="text" name="street_address" placeholder="Street Address" />

          <input type="text" name="city" placeholder="City" />

          <input type="text" name="state" placeholder="State" />

          <input type="text" name="zip" placeholder="Zip" />

          <input type="text" name="phone_number" placeholder="Phone Number" />

          <input type="date" name="date_of_birth" />

          <input type="file" name="file"/>

          <input type="submit" value="REGISTER"/>
        </form>
      </div>
    </div>
    <% include ../partials/footer %>
  </body>
</html>


    