<footer class="app-footer">
    <a style="margin:5px" href="/about">ABOUT</a>
    <a style="margin:5px" href="/contact">CONTACT</a>
    <a style="margin:5px" href="/copyright">COPYRIGHT</a>
    <a style="margin:5px" href="/rules_regulations">RULES & REGULATION</a>
    <a style="margin:5px" href="/terms_conditions">TERMS & CONDITIONS</a>
</footer>