<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1, maximum-scale=1.0, user-scalable=no"">
    <title>BETNET</title>
    <link rel="stylesheet" href="main.css">
  </head>
  <body>
    <% include ./partials/header %>
    <div class="app-content vertical-container">
      <div class="content-row">
        <form action="/register" method="post">
          <label>Email</label>
          <input type="text" name="email"/>

          <label>Display Name</label>
          <input type="text" name="display_name"/>

          <label>Password</label>
          <input type="password" name="password"/>
        
          <label>Confirm Password</label>
          <input type="password" name="confirm_password"/>

          <input type="submit" value="REGISTER"/>
        </form>
      </div>
      <% if (locals.error) { %>
        <div class="content-row">
          <%= error%>
        </div>
      <% } %>
    </div>
    <% include ./partials/footer %>
  </body>
</html>


    