html body{
    margin:0;
    padding:0;
    height:100%;
}

a{
    text-decoration:none;
}

input{
    padding: 10px 20px;
    margin: 5px 0px;
    border: solid 1px #aaa;
    border-radius: 5px;
}

select{
    height:37px;
    padding: 10px 20px;
    margin: 5px 0px;
    border: solid 1px #aaa;
    border-radius: 5px;
    background: white;
}

input[type=submit] {
    background-color: rgb(20,147,255);;
    color: white;
    padding: 15px 20px;
    margin: 5px 0;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
}

form{
    padding:5px;
    display:flex;
    flex-direction: column;
    max-width: 500px;
    flex-grow:1;
}

td{
    cursor: pointer;
}

.app-header{
    position:fixed;
    top:0;
    left:0;
    right:0;
    padding:10px 20px;
    display: flex;
    background: rgb(20,147,255);
    justify-content: space-between;
}

.app-brand{
    display: flex;
    justify-content: space-between;
}

.app-header-items{
    display: flex;
    justify-content: space-between;
}

.app-header-items a{
    margin-left:20px;
}

.app-content{
    margin-top: 50px;
    padding:20px;
    min-height:84vh;
}

.vertical-container{
    display: flex;
    flex-direction: column; 
    justify-content: center;
}

.content-row{
    display: flex;
    justify-content: center;
}

.app-footer{
    padding: 20px 5px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background: rgb(20,147,255);
}

.button{
    padding:5px 10px;
    border:solid 1px white;
    color:white;
    background:transparent;
    border-radius: 5px;
}

.button:hover{
    background:white;
    color: rgb(20,147,255);
}