.app-header{
    display: flex;
    justify-content: space-between;
}
.app-header-items{
    display: flex;
    justify-content: space-between;
}
.app-footer{
    display: flex;
    justify-content: space-evenly;
}