<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1, maximum-scale=1.0, user-scalable=no"">
    <title>BETNET</title>
    <link rel="stylesheet" href="main.css">
  </head>
  <body>
    <% include ../partials/header %>
    <div class="app-content vertical-container">
        <div class="content-row">
          MARKET
The market platform is designed to allow users to place a “contest entry” in order to compete against other users who have placed the same wager. All users are given $1,000,000 of “play money” in order to invest on real market outcomes. Once a contestant is entered into the platform, they will be ranked. Each contestant is given $1,000,000 of “net assets” to invest in real stock outcomes. Once a contestant starts investing, the platform must recognize and implement real live data. For example, if a user invests all $1,000,000 in Great Britain Pound (GBP) and that ticker goes up by 1%, they will have “net assets” of 1,001,000. Therefore, they will rank higher/lower than a user who may have invested differently, such as investing in a stock like Facebook (FB). There are four main trading options. The first option, called “buy”, allows the user to acquire a certain amount of currency, commodity, or stock from their “net assets”. The second option, called “sell”, allows the user to get rid of their previously purchased “buy” amount of currency, commodity, or stock from their “net assets”. The third option, called “buy short”, allows the user to bet on the opposite outcome of the performance of a certain amount of currency, commodity, and stock. The final option, called “sell short”, allows the user to get rid of their previously purchased “buy short”. All of these options simply replace the amount of the user’s “net assets” with an equally valued currency, commodity, or stock at that point in time. Overtime, the performance of the user’s purchased currency, commodity, and stocks will raise/lower their total “net assets”. At the end of the contest, the user’s rank is determined by the total value of their “net assets”. Payout is then distributed on a relative basis, and the formula with examples is provided in the Excel sheet labeled “BETNET_SCORING”.
        </div>
    </div>
    <% include ../partials/footer %>
  </body>
  
</html>